@import '@material/react-button/index.scss';
@import '@material/react-top-app-bar/index.scss';
@import '@material/react-list/index.scss';
@import '@material/react-material-icon/index.scss';
@import '@material/react-drawer/index.scss';

h1 {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 1.56;
  text-align: center;
  font-weight: 400;
  color: #5b7289;
  height: 28px;
}
